.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
.github/**
assets/images/logo-transparent.png
assets/images/feature.gif
assets/icons/svg/**
assets/images/media/**
cliff.toml
